# Dependencias
node_modules/
packages/frontend/node_modules/
packages/backend/node_modules/

# Variables de entorno (¡NUNCA subas tus contraseñas de Postgres!)
.env
.env.local
packages/backend/.env
packages/frontend/.env

# Builds
dist/
packages/frontend/dist/
packages/backend/dist/

# Prisma
packages/backend/prisma/*.db

# Logs y SO
npm-debug.log*
.DS_Store
Thumbs.db